.line {
  width: 60px;
  height: 2px;
  margin-bottom: 30px;

  background: var(--coral);
}

.title {
  height: 90px;
  width: 330px;
  margin-bottom: 60px;
}

.message {
  height: 120px;
  margin-bottom: 60px;
}

.text {
  font-size: 18px;
}
