.wrapper {
  margin-top: 55px;

  text-align: center;
}

.list {
  max-width: 337px;
  margin: 50px auto 0;
}

.links {
  display: flex;
  flex-direction: column;

  padding: 0;

  list-style-type: none;

  font-weight: 400;
  font-size: 18px;
  text-align: left;
}

.links:last-child {
  margin-bottom: 65px;
}

.listTask {
  max-width: 350px;
  margin: 50px auto 0;
}

.linkItem {
  margin: 5px;
}

.link {
  position: relative;

  display: inline-block;
  overflow: hidden;

  margin-bottom: 8px;
}

.link:hover {
  transition: all 0.2s;

  color: var(--coral);
}

.link:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

.circle {
  display: inline-block;

  width: 25px;
  height: 25px;
  margin-right: 10px;
  margin-bottom: 7px;

  border: 1px solid var(--black);
  border-radius: 50%;
}

.circle.active {
  background: var(--success);
}
