* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;

  color: var(--black);
  background: var(--white-coral);

  font-family: var(--font-ibm-plex);
}

a {
  text-decoration: none;

  color: inherit;
}

:root {
  --black: #000000;
  --default-black: #000;
  --white-coral: #feeee9;
  --middle-coral: #fcd5cb;
  --menu-color: #feeee9;
  --editor-bgr: #fff;
  --present: #f05124;
  --success: #04907f;
  --success-bgr: #b4ded9;
  --error: #f05124;
  --error-bgr: #fcd5cb;
  --ghost: #f05124;
  --ghost-bgr: #fcd5cb;
  --coral: #f05124;
  --scheme-color: #fff;
  --scheme-bgr: #f05124;

  color-scheme: light;
}

[scheme='dark'] {
  --black: #feeee9;
  --white-coral: #090e19;
  --middle-coral: #161a25;
  --scheme-color: #f05124;
  --scheme-bgr: #161a25;
  --editor-bgr: #161a25;
  --success: #b4ded9;
  --success-bgr: #0490803c;
  --error: #fcd5cb;
  --error-bgr: #f050243c;

  color-scheme: dark;
}
