.wrapper {
  border-top: 2px solid var(--coral);
  border-bottom: 2px solid var(--coral);
  padding: 15px 0;
  text-align: center;
}

.button {
  font-size: 18px;
  font-family: var(--font-ibm-plex);
  background-color: var(--white-coral);
  border: none;
  cursor: pointer;
}

.button:hover {
  transition: all 0.3s;

  color: var(--coral);
}

.button:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}


