.colorSchemeSwitcherValue {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 36px;
  height: 36px;

  cursor: pointer;

  color: var(--scheme-color);
  border: none;
  border-radius: 50%;
  background-color: var(--scheme-bgr);
}
